@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply border border-gray-500 bg-blue-400 hover:bg-blue-300 active:bg-blue-800 px-4;
}

* {
  background-color: #0785bb;
  font-family: "Handjet";
  color: rgb(245, 241, 18);
  text-align: center;
}

h1 {
  font-size: xx-large;
}

input {
  color: black;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
